[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
pytest-mock = "*"

[packages]
certifi = "==2019.9.11"
chardet = "==3.0.4"
idna = "==2.8"
requests = "==2.22.0"
urllib3 = "==1.25.6"
django = "==2.2.21"
django-crispy-forms = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-dynamic-fixture = "*"

[requires]
python_version = "3.7"
