@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(../fonts/playball-regular.woff2) format('woff2'), url(../fonts/playball-regular.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(../fonts/merriweather.woff2) format('woff2'), url(../fonts/merriweather.woff) format('woff');
}


header .navbar .icon {
    padding-left: 15px;
    color: white;
}

header .navbar .username-divider {
  margin-top: 10px;
  border-right: 1px solid #ccc;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  border-top: 1px solid #E7E7E7;
  height: 60px;
  background-color: #fff;
}

.footer .legal {
  width: 50%;
}

.footer ul li {
  display: inline;
  margin-right: 15px;
}

.footer .social {
  font-size: 20px;
  text-align: right;
}

.footer .social a {
  color: #777;
  margin-left: 10px;
  transition: all 0.2s ease 0s;
}

.footer .social a:hover {
  color: #333;
}

.site-section {
  padding: 5rem 0; }
  @media (max-width: 991.98px) {
    .site-section {
      padding: 3rem 0; } }

.form-title  {
  padding: 1rem 0; }
  @media (max-width: 991.98px) {
    .form-title {
      padding: 1rem 0; } }

.block-2 {
  padding: 40px;
  position: relative;
  text-align: center; }
  .block-2 .wrap-icon {
    position: relative;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin-top: -70px;
    margin-bottom: 30px; }
    .block-2 .wrap-icon > span {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .block-2 h2 {
    font-size: 18px;
    color: #fff; }
  .block-2 p {
    color: rgba(255, 255, 255, 0.7); }
  .block-2.red,
  .block-2.red .wrap-icon {
    background-color: #fd4d40; }
  .block-2.yellow,
  .block-2.yellow .wrap-icon {
    background-color: #fdb62f; }
  .block-2.teal,
  .block-2.teal .wrap-icon {
    background-color: #16c3b0; }